.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  width: 300px;
  min-height: 100px;
  border: 1px solid #d6d3d1;
  border-radius: 3px;
}
.header {
  width: 100%;
  display: flex;
}
.title {
  flex: 8;
  margin: 0;
}
.button {
  flex: 1;
  padding: 10px 10px;
  border: none;
}
.button:hover {
  border: 1px solid #d6d3d1;
}
