<div class="container">
  <button
    [ngClass]="{ button: true, button_active: todoFilter === filter.all }"
    (click)="clickFilterChange(this.filter.all)"
  >
    All
  </button>
  <button
    [ngClass]="{ button: true, button_active: todoFilter === filter.completed }"
    (click)="clickFilterChange(this.filter.completed)"
  >
    Completed
  </button>
  <button
    [ngClass]="{ button: true, button_active: todoFilter === filter.active }"
    (click)="clickFilterChange(this.filter.active)"
  >
    Active
  </button>
</div>
